<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">

    <classes>
<!-- <class name="DSalgoTestCases.RegisterTest"/>
<class name="DSalgoTestCases.LoginTest"/>-->
     

  		 <class name="DSalgoTestCases.DataStructure"/>
  		<class name="DSalgoTestCases.ArrayPage"/>
  		<class name="DSalgoTestCases.LinkedListPage"/>
  		<class name="DSalgoTestCases.StackPage"/>
  		<class name="DSalgoTestCases.QueueTestCase"/>
  		<class name="DSalgoTestCases.TreeTextCase"/>
  		<class name="DSalgoTestCases.GraphTests"/>
      
    </classes>
  </test>  <!-- Test -->
</suite> <!-- Suite -->
